<!DOCTYPE html>
<html>

<head>
    <title>Noll</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script>
      $(function() {
        $( "#insurance-slider" ).slider({
          range: "min",
          value: 125,
          min: 0,
          max: 250,
          slide: function( event, ui ) {
            $( "#insurance" ).val( "$" + ui.value );
          }
        });
        $( "#insurance" ).val( "$" + $( "#insurance-slider" ).slider( "value" ) );
      });
    </script>
</head>
<div>
    <body>
        <h1><strong>Rate Calculator</strong></h1>

        Submit
        <form method="post" action="/estimate">
            <!-- Insurance -->
            <label for="insurance">Enter your MONTHLY INSURANCE costs:</label>
            <input type="text" id="insurance" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="insurance-slider"></div>

            <!-- Lease -->
            <label for="lease">Enter your MONTHLY LEASE costs:</label>
            <input type="text" id="lease" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="lease-slider"></div>

            <!-- Hours-drive -->
            <label for="hours-drive">Enter the number of HOURS you plan to DRIVE per week:</label>
            <input type="text" id="hours-drive" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="hours-drive-slider"></div>

            <!-- Mileage/gas -->
            <label for="mileage">Estimated mileage and gas cost:</label>
            <input type="text" id="mileage" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="mileage-slider"></div>

            <!-- Hours-task -->
            <label for="hours-task">Enter the number of HOURS you plan to spend on TASKS per week:</label>
            <input type="text" id="hours-task" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="hours-task-slider"></div>

            <!-- Shift -->
            <!-- Agency -->
            <!-- Region -->

          <div>
              <input type="submit" value="Enter" class="button">
          </div>
        </form>
        <%=yield %>
    </body>
</div>

</html>
