<!DOCTYPE html>
<html>

<head>
    <title>Noll</title>
</head>
<div>
    <body>
        <h1><strong>Rate Calculator</strong></h1>

        <form method="post" action="/estimate">
          <div>
              <input type="text" name="input-text" placeholder="Event URL">
          </div>
          <div>
              <input type="submit" value="Enter" class="button">
          </div>
        </form>
        <%=yield %>
    </body>
</div>

</html>
