<div ng-controller="calcController" class="container" id="calc">
    <span class="header">
    <h2><strong>What's Your Rate?</strong></h2>
    <h3  ng-model="$estimate" class="floating-menu">You could earn ${{values.estimate}} per hour!</h3>
  </span>
  <hr>
    <form method="post" action="/estimate">
        <!-- Insurance -->
        <div class="container">
            <label for="insurance">Estimate your MONTHLY INSURANCE costs:</label>
            <input type="text" id="insurance" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div class="vals">${{values.insurance}}</div>
            <div id="insurance-slider">
                <slider floor="0" ceiling="250" value="125" step="25" ng-model="values.insurance" translate="currencyFormatting"></slider>
            </div>
        </div>
        <hr>
        <!-- Lease -->
        <div class="container">
            <label for="lease">Estimate your MONTHLY LEASE costs:</label>
            <div class="vals">${{values.lease}}</div>
            <div id="lease-slider">
                <slider floor="0" ceiling="250" value="125" step="25" ng-model="values.lease" translate="currencyFormatting"></slider>
            </div>
        </div>
        <hr>
        <!-- Hours-drive -->
        <div class="container">
            <label for="hours-drive">Estimate the number of HOURS you plan to DRIVE per week:</label>
            <div class="vals">{{values.hoursDrive}} hours/week</div>
            <div id="hours-drive-slider">
                <slider floor="0" ceiling="60" ng-value="30" step="10" ng-model="values.hoursDrive"></slider>
            </div>
        </div>
        <hr>
        <!-- Mileage/gas -->
        <div class="container">
            <label for="mileage">Estimated weekly GAS cost (based on estimated drive time):</label>
            <div class="vals">${{values.mileage}} gas/week</div>
            <div id="mileage-slider">
                <slider floor="0" ceiling="270" ng-value="135" step="25" ng-model="values.mileage" translate="currencyFormatting"></slider>
            </div>
        </div>
        <hr>
        <!-- Hours-task -->
        <div class="container">
            <label for="hours-task">Enter the number of HOURS you plan to spend on TASKS per week:</label>
            <div class="vals">{{values.hoursTask}} hours/week</div>
            <div id="hours-task-slider">
                <slider floor="0" ceiling="60" ng-value="30" step="10" ng-model="values.hoursTask"></slider>
            </div>
        </div>
        <hr>
        <!-- Shift -->
        <div class="container=">
            <label for="shift">Which SHIFT will you typically work?</label>
            <div class="radio inline" ng-repeat="shift in selectOptions.shifts">
                <input type="radio" ng-model="values.selectedShift" ng-value="shift" name="shift">
                <label class="radio inline" for="{{shift}}">{{shift}}
                </label>
            </div>
        </div>
        <hr>
        <!-- Vehicle -->
        <div class="container">
            <label for="vehicle">Which VEHICLE would you like to lease?</label>
            <div class="radio inline" ng-repeat="vehicle in selectOptions.vehicles">
                <input type="radio" ng-model="values.selectedVehicle" ng-value="vehicle" name="vehicle">
                <label class="radio inline" for="{{vehicle}}">{{vehicle}}
                </label>
            </div>
        </div>
        <hr>
        <!-- Agency -->
        <div class="container">
            <label for="agency">Which AGENCY do you plan to work with?</label>
            <div class="radio inline" ng-repeat="agency in selectOptions.agencies">
                <input type="radio" ng-model="values.selectedAgency" ng-value="agency" name="agency">
                <label class="radio inline" for="{{agency}}">{{agency}}
                </label>
            </div>
        </div>
        <hr>
        <!-- Region -->
        <div class="container">
            <label for="region">Which REGION do you plan to work in?</label>
            <div class="radio inline" ng-repeat="region in selectOptions.regions">
                <input type="radio" ng-model="values.selectedRegion" ng-value="region" name="region">
                <label class="radio inline" for="{{region}}">{{region}}
                </label>
            </div>
        </div>
    </form>
</div>
